<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1018513451443-u680q0oa2u0tmn4lr5v50rb41t41l1s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018513451443-u680q0oa2u0tmn4lr5v50rb41t41l1s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAIE0TT-ItUR6mmkxB0XPWwNMr9wskj_rk</string>
	<key>GCM_SENDER_ID</key>
	<string>1018513451443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ziang.TigerConservation</string>
	<key>PROJECT_ID</key>
	<string>tiger-conservation-f46fa</string>
	<key>STORAGE_BUCKET</key>
	<string>tiger-conservation-f46fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018513451443:ios:9e0493999dd2bdc8</string>
	<key>DATABASE_URL</key>
	<string>https://tiger-conservation-f46fa.firebaseio.com</string>
</dict>
</plist>